---
import BaseLayout from "$lib/layouts/base_layout.astro";
import { getCollection } from "astro:content";

const pages = await getCollection("posts");

const tagMap = new Map();

for (const page of pages) {
    for (const tag of page.data.tags) {
        if (!tagMap.has(tag)) {
            tagMap.set(tag, []);
        }
        tagMap.get(tag).push(page);
    }
}

for (const [tag, posts] of tagMap) {
    tagMap.set(
        tag,
        posts.sort((a, b) => b.data.pubDate - a.data.pubDate),
    );
}

const uniqueTags = [...tagMap.keys()].sort((a, b) => a.localeCompare(b));
---

<BaseLayout title="تاجژ">
    <h1>
        <a href="#tags"> تاجژ </a>
    </h1>
    {
        uniqueTags.map((tag) => (
            <div>
                <h2 id={tag}>
                    <a href={`#${tag}`}>
                        <span>{tag}#</span>
                    </a>
                </h2>
                <ul>
                    {tagMap.get(tag).map((post) => (
                        <div class="prose-p:m-0 prose-li:m-0">
                            <li>
                                <p class="flex">
                                    <span class="opacity-60">
                                        {post.data.pubDate
                                            .toISOString()
                                            .substring(0, 10)
                                            .trim() + "\\"}
                                    </span>

                                    <a
                                        href={`/${post.data.pubDate.toISOString().substring(0, 10)}/${post.id}`}
                                    >
                                        <span>{post.data.title}</span>
                                    </a>
                                </p>
                            </li>
                        </div>
                    ))}
                </ul>
            </div>
        ))
    }
</BaseLayout>
