---
import "$lib/styles/global.css";
import Navigation from "$lib/components/navigation.astro";
import Head from "$lib/components/head.astro";

const title = Astro.props?.title
    ? Astro.props.title + " · شناوي"
    : Astro.props?.frontmatter?.title
      ? Astro.props.frontmatter.title + " · شناوي"
      : "شناوي";

const description =
    Astro.props?.description ??
    "بلوج محمد الشناوي للبرمجة، التكنولوجيا، وأشياء طريفة أخرى.";

const { ogImage, type } = Astro.props;

const site = Astro.url.origin;
---

<html lang="ar">
    <head>
        <Head
            title={title}
            description={description}
            type={type}
            site={site}
            ogImage={ogImage}
        />
        <script
            data-goatcounter="https://shenawy29.goatcounter.com/count"
            is:inline
            async
            src="https://gc.zgo.at/count.js"></script>
    </head>
    <body
        class="w-full overflow-y-scroll bg-sumi-ink2 font-display text-old-white"
    >
        <div
            class="flex w-full flex-col items-center justify-end hover:decoration-samurai-orange lg:flex-row"
        >
            <Navigation />
            <main
                dir="rtl"
                class="prose ml-0 flex w-full flex-col p-8 prose-kanagawa md:max-w-240 lg:prose-lg lg:mr-72 lg:p-16 lg:text-lg prose-headings:underline prose-headings:decoration-spring-green prose-a:hover:decoration-samurai-orange prose-kbd:bg-sumi-ink1 prose-code:bg-sumi-ink1"
            >
                <slot />
            </main>
        </div>
    </body>
</html>
